sfdcflow/src/main/mule/sfdcflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4c62c7ea-c862-4749-a2d5-4e0d68bed4d1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e1af8799-d1e7-4fe1-a219-db72b6c33fe0" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="rayidi@123456" database="db18" />
	</db:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1f3798bf-e185-4ad6-81b2-1025ea30c047" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="rayidi@123456" database="db18" />
	</db:config>
	<flow name="sfdcflowFlow" doc:id="a789804b-b88d-4638-bd26-0f611a5f2072" >
		<http:listener doc:name="Listener" doc:id="70b659f1-f945-4d9f-a017-1fd6d326b08d" config-ref="HTTP_Listener_config" path="/sfdc"/>
		<ee:transform doc:name="Transform Message" doc:id="3be6c0b0-03c2-4d0b-ac39-8b8f1fb1063d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 100 map
  {
  	studentid: if ($$ == 5)'mule' else 200 + $$,
  	studentname: "sri",
  	studentnumber: 1234567890,
  	studentlname: "pathuri"
  }

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="9ece4cd6-0f61-4454-a182-3ae3e6888ea4" >
			<logger level="INFO" doc:name="Logger" doc:id="136da489-2a40-4672-87c7-4468e1030db1" message="#[payload]"/>
			<db:insert doc:name="Insert" doc:id="79303617-8c13-418f-96b5-46936f00ff29" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO db18.student (studentid, studentname, studentnumber, studentlname)
VALUES (:studentid, :studentname, :studentnumber, :studentlname);]]></db:sql>
			<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="cfd0b5d5-8739-439b-9822-e90cb9f40df9" message="#[payload]"/>
	</flow>
</mule>
